<form role="form" novalidate #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="font-weight-bold">First name</label>
    <input type="text" class="form-control" placeholder="Ramesh" name="firstName" [(ngModel)]="user.firstName" #firstName="ngModel">
  </div>
  <div class="form-group">
    <label class="font-weight-bold">Last name</label>
    <input type="text" class="form-control" placeholder="Varanasi" name="lastName" [(ngModel)]="user.lastName" #lastName="ngModel">
  </div>
  <div class="form-group mt-4">
    <button type="submit" [disabled]="!form.dirty" class="btn btn-primary btn-block">
      <span *ngIf="!loading">Update</span>
      <span *ngIf="loading">Please wait ...</span>
    </button>
  </div>
</form>
