<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-3 col-12 list-custom">
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action" [routerLink]="['profile']" routerLinkActive="active">Profile</a>
        <a class="list-group-item list-group-item-action" [routerLink]="['change-email']" routerLinkActive="active">Email</a>
        <a class="list-group-item list-group-item-action" [routerLink]="['change-password']" routerLinkActive="active">Password</a>
        <a class="list-group-item list-group-item-action">Email preferences</a>
        <a class="list-group-item list-group-item-action">Investor settings</a>
        <a class="list-group-item list-group-item-action" [routerLink]="['payment']" routerLinkActive="active">Payment
          options</a>
        <a class="list-group-item list-group-item-action">Mdivti-factor authentication</a>
      </div>
    </div>
    <div class="col-lg-9 col-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="col-lg-9 col-12">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>