<div>
  <ng-container *ngIf="showPayment">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <table class="table">
          <thead>
            <tr class="table-active">
              <th scope="col">Task Name</th>
              <th scope="col">Hours</th>
              <th scope="col">Price</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Task abc 123.</td>
              <td>1</td>
              <td>$0.01</td>
              <td>${{total}}</td>
            </tr>
          </tbody>
        </table>
      </li>
      <li class="list-group-item">
        <p class="text-right font-weight-bold">Subtotal: ${{total}}</p>
        <div class="text-right">
          <button type="submit" class="btn btn-primary" (click)="onContinue()">Continue
          </button>
        </div>
      </li>
    </ul>
  </ng-container>
  <ng-container *ngIf="showPaypal">
    <div>
      <ngx-paypal [config]="payPalConfig"></ngx-paypal>
    </div>
  </ng-container>
</div>