<nav #navScrollTo class="navbar navbar-expand-md navbar-light fixed-top" id="myScrollspy">
  <div class="container-fluid">
    <div class="navbar-header page-scroll">
      <a class="navbar-brand nav-link" [routerLink]="[ '/']">WEBSITENAME</a>
      <button #test class="navbar-toggler" [ngClass]="{'collapsed': !showMenu}" type="button" data-toggle="collapse"
        data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="onClickMenu()">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" [ngClass]="{'show': showMenu}" id="navbarNav">
      <ul class="nav navbar-nav ml-auto nav-pills" role="tablist">
        <li class="nav-item" *ngIf="(url === '/') || (url === '/#features') || (url === '/#team') || (url === '/#pricing')">
          <a class="nav-link" [routerLink]="[ '/']" (click)="onClickCloseMenu()" aria-selected="false">Home</a>
        </li>
        <li class="nav-item" *ngIf="(url === '/') || (url === '/#features') || (url === '/#team') || (url === '/#pricing')">
          <a class="nav-link" href="#features" (click)="onClickCloseMenu()" aria-selected="false">Features</a>
        </li>
        <li class="nav-item" *ngIf="(url === '/') || (url === '/#features') || (url === '/#team') || (url === '/#pricing')">
          <a class="nav-link" href="#team" (click)="onClickCloseMenu()"  aria-selected="false">Team</a>
        </li>
        <li class="nav-item" *ngIf="(url === '/') || (url === '/#features') || (url === '/#team') || (url === '/#pricing')">
          <a class="nav-link" href="#pricing" (click)="onClickCloseMenu()" aria-selected="false">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/signin']" (click)="onClickCloseMenu()">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/signup/get-started']" (click)="onClickCloseMenu()">Get Started</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
