.navbar-light-scroll {
    padding: 0;

    a {
        color: white;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}

.navbar-light {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e7e7;
    padding: 0;

    a {
        color: black;
    }
}

.nav>li>a {
    padding: 20px 10px;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.navbar-header {
    margin-top: -10px;
}

.navbar-nav .nav-link {
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.navbar-brand {
    font-size: 18px;
    font-weight: 500;
}

.nav-link-active {
    border-top: 3px solid #a0b457;
}

.nav-link.active, .nav-pills .show > .nav-link {
    background-color: unset;
    border-radius: unset;
    border-top: 4px solid #a0b457;
    padding-top: 15px !important;
}

.navbar-toggler {
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
}

@media (max-width: 767px) {
    .navbar.navbar-light {
        padding: 10px;
    }

    .navbar-nav {
        background-color: white;
        .nav-link {
            color: black;
        }
    }

    .navbar-brand {
        padding: 10px;
    }
    
    .navbar-header {
        margin-top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}