<form role="form" novalidate #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="font-weight-bold">New password *</label>
    <input type="password" class="form-control" placeholder="Password" name="password"
      [(ngModel)]="userModel.newPassword" #password="ngModel" required [ngClass]="{'is-invalid' : password.errors && (password.dirty || password.touched)}">
    <div class="invalid-feedback">
      New password is required.
    </div>
  </div>
  <div class="form-group">
    <label class="font-weight-bold">Confirm Password *</label>
    <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="userModel.confirmPassword"
      #confirmPassword="ngModel" (ngModelChange)="inputNewPassword()" (blur)="comparePassword()" required [ngClass]="{'is-invalid' : confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)}">
    <div class="invalid-feedback">
      Confirm password is required.
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="errorMesssage">
      {{errorMesssage}}
    </div>
  </div>
  <div class="form-group">
    <label class="font-weight-bold">Current Password *</label>
    <input type="password" class="form-control" placeholder="Current Password" name="currentPassword" [(ngModel)]="userModel.password"
      #currentPassword="ngModel" required [ngClass]="{'is-invalid' : currentPassword.errors && (currentPassword.dirty || currentPassword.touched)}">
    <div class="invalid-feedback">
      Current password is required.
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-block mt-4" [disabled]="(form.invalid) || checkPassword">
    <span *ngIf="!(loading$ | async)">Update</span>
    <span *ngIf="loading$ | async">Please wait ...</span>
  </button>
</form>