/* Only demo */
// @media (max-width: 1000px) {
//   .welcome-message {
//     display: none;
//   }
// }

body {
  background-color: #f3f3f4 !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
}

small {
  font-size: 85%;
}