body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #fefefe;
}

.green-bg {
    background: #a0b457;
    color: #fff;
}

.btn.btn-primary {
    background: #a0b457;
    border: none;
    border-radius: 0;
}

/* Navbar styles */
.custom-navbar.navbar-inverse {
    background: none;
    border: none;
}

.custom-navbar.navbar-inverse .navbar-collapse {
    border: none;
}

.navbar-brand {
    font-size: 15px;
    font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a {
    border-top: 5px solid transparent;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .6px;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    border-top: 5px solid #a0b457;
    background: none !important;
}

.custom-navbar.affix {
    background: #fff !important;
    border-bottom: 1px solid #e7eaec;
}

.custom-navbar.affix.navbar-inverse .navbar-nav>li>a {
    color: #000;
}

.custom-navbar.affix .navbar-brand {
    color: #000 !important;
}

/* carousel styles */

#myCarousel .carousel-inner .item {
    min-height: 400px;
    background: #b2b2b2;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    margin-left: -50px;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    margin-right: -50px;
}

/* Section common styles */
.section-header {
    margin-bottom: 2rem;
}

.section-separator {
    display: inline-block;
    width: 70px;
    height: 3px;
    border-radius: 20px;
    background: #a0b457;
}

.section-heading {
    margin: 0 auto 4px;
}


/* Feature section styles */
.each-feature h4 {
    font-weight: 400;
}

.each-feature p {
    color: gray;
}

.each-feature a {
    color: #a0b457;
}

/* component section styles */
.each-component i {
    font-size: 32px;
}

/* discover features section */
.discover-features .row {
    display: flex;
}

.discover-features .left-content,
.discover-features .right-image {
    display: flex;
    align-items: center;
    flex-wrap: wrap
}

.discover-features .left-content>* {
    flex-basis: 100%;
}

.discover-features .right-image {
    justify-content: flex-end;
}

/* Team styles */
#team,
#partner-testimony,
.timeline,
#footer {
    background: #f4f4f4;
    padding-bottom: 4rem;
}

.each-member {
    text-align: center;
}

.each-member .profile-image {
    width: 75px;
    height: 75px;
    background: #666;
    border-radius: 50%;
    margin: auto
}

.social-links a {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    background: #a0b457;
    border-radius: 50%;
    margin-right: 4px;
}

.team .each-member.zoom .profile-image {
    width: 100px;
    height: 100px;
}

/* user testimony */
#user-testimony {
    padding-bottom: 4rem;
    background: #a0b457;
    color: #fff;
}

.user-testimony i {
    font-size: 32px;
}

/* great feature styles */
.each-great-feature {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.each-great-feature i {
    font-size: 48px;
    margin-left: 4px;
    color: #a0b457;
}


/* pricing */
.pricing {
    padding-bottom: 4rem;
}

.pricing-plan {
    list-style: none;
}

.pricing-plan:not(.zoomin) {
    transform: scale(0.9);
}

.pricing-plan.zoomin {
    transform: scale(1.03);
}

li.pricing-description {
    font-size: 14px;
    border-top: none;
    padding: 20px 16px;
}

.pricing-plan li {
    padding: 10px 16px;
    border-top: 1px solid #e7eaec;
    text-align: center;
    color: #aeaeae;
}

.pricing-plan.zoomin li {
    background: #f4f4f4;
}

li.pricing-title {
    background: #a0b457 !important;
    color: #fff !important;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    font-size: 22px;
    font-weight: 600;
}

/* footer styles */
#footer {
    padding-bottom: 0;
    background-image: url(assets/images/new-layout/map.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    /* margin-top: 60px; */
}


/* ================= New Styles =================== */


#banner {
    min-height: 400px;
    background: rgba(26, 179, 148, 0.75);
    display: flex;
    align-items: center;
    padding-top: 62px;
    padding-left: 4rem;
    color: #fff;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    border-top: 5px solid #a0b457;
    background: none !important;
}

@media screen and (max-width:768px) {
    .each-member {
        margin-bottom: 4px;
    }

    .pricing-plan {
        padding: 0;
    }

    .banner-content {
        padding-right: 1rem;
    }

    .banner-content h1 {
        font-size: 2.5rem;
    }

    .navbar-inverse .navbar-toggle {
        border-color: transparent;
    }

    .navbar-inverse .navbar-toggle:focus,
    .navbar-inverse .navbar-toggle:hover {
        background: transparent;
    }

    .navbar-inverse.affix .navbar-toggle .icon-bar {
        background-color: #000;
    }

    .navbar-collapse {
        border-top: 1px solid #e4e4e4;
    }

    .navbar-inverse .navbar-nav>li>a {
        color: #000;
    }
}

.pt-40 {
    padding-top: 40px !important;
}

.px-20 {
    padding: 0 20px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.home-page {
    padding-bottom: 40px;
}

.gray-text {
    color: gray;
}