<div class="form-group">
    <div>
        <label class="font-weight-bold">Avatar</label>
    </div>
    <div class="custom-img">
        <img [src]="avatar" />
        <a class="btn-edit-photo">
            <input type="file" name="file" id="file" (change)="onFileChange($event)" />
            <label class="label" for="file">
                <i class="fa fa-camera icon-custom" aria-hidden="true"></i>
            </label>
        </a>
        <div class="modal fade" id="exampleModalCenter" [ngClass]="{'show': showPopup}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Crop your new avatar</h5>
                        <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close" (click)="onClose()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <image-cropper class="image-cropper" [imageChangedEvent]="imageChangedEvent"
                            [maintainAspectRatio]="true" [aspectRatio]="3 / 3" format="png" (imageCroppedBase64)="imageCropped($event)"
                            (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()" (imageCroppedFile)="onImageCroppedFile($event)"></image-cropper>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal" (click)="onClose()">Cancel</button>
                        <button type="button" class="btn btn-primary" (click)="onSave()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>