.custom-img {
    position: relative;
    display: inline-block;
    img {
        width: 110px;
        height: 110px;
        ;
    }
}

.btn-edit-photo {
    position: absolute;
    display: block;
    right: 6px;
    top: 5px;
    input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    label {
        margin: 0;
        height: 22px;
        width: 30px;
        cursor: pointer;
        padding-top: 4px;
    }
}

.icon-custom {
    color: #4a4a4b;
}

.icon-custom:hover {
    color: #212529;
}

.close-btn {
    text-align: right;
    padding: 15px;
}

.show {
    display: block;
}

.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    height: 380px;
    overflow-y: auto;
}

.modal-footer {
    margin-bottom: 15px;
    border-top: 0;
}

/deep/ image-cropper.image-cropper {
    max-height: fit-content;
}
