<div class="inner-page row">
  <div class="content col-12 col-md-4">
    <h2>Personal Details</h2>
    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi, incidunt deleniti. </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, maiores aliquid? Adipisci, facere expedita!
      Voluptatibus, dolorem ad veniam asperiores id sapiente! Maxime delectus sapiente omnis temporibus incidunt
      voluptatem iste eius.</p>
    <p>Libero dicta, dignissimos laudantium illo odio voluptates repudiandae</p>
    <p>Libero dicta, dignissimos laudantium illo odio voluptates repudiandae</p>
  </div>
  <div class="login-form col-12 col-md-4">
    <form role="form" novalidate #form="ngForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <input type="text" class="form-control form-control-lg" placeholder="Business Name *" name="businessName"
          [(ngModel)]="userModel.businessName" #businessName="ngModel" required [ngClass]="{'is-invalid' : businessName.errors && (businessName.dirty || businessName.touched)}">
        <div class="invalid-feedback">Business Name is required</div>
      </div>

      <div class="form-group">
        <input type="text" class="form-control form-control-lg" placeholder="Address 1 *" name="address1" [(ngModel)]="userModel.address1"
          #address1="ngModel" required [ngClass]="{'is-invalid' : address1.errors && (address1.dirty || address1.touched)}">
        <div class="invalid-feedback">Address 1 is required</div>
      </div>

      <div class="form-group">
        <input type="text" class="form-control form-control-lg" placeholder="Address 2" name="address2" [(ngModel)]="userModel.address2"
          #address2="ngModel">
      </div>

      <div class="form-group">
        <input type="text" class="form-control form-control-lg" placeholder="Street *" name="street" [(ngModel)]="userModel.street"
          #street="ngModel" required [ngClass]="{'is-invalid' : street.errors && (street.dirty || street.touched)}">
        <div class="invalid-feedback">Street is required</div>
      </div>

      <div class="form-group">
        <input type="text" class="form-control form-control-lg" placeholder="State *" name="state" [(ngModel)]="userModel.state"
          #state="ngModel" required [ngClass]="{'is-invalid' : state.errors && (state.dirty || state.touched)}">
        <div class="invalid-feedback">State is required</div>
      </div>

      <div class="form-group">
        <input type="text" class="form-control form-control-lg" placeholder="City *" name="city" [(ngModel)]="userModel.city"
          #city="ngModel" required [ngClass]="{'is-invalid' : city.errors && (city.dirty || city.touched)}">
        <div class="invalid-feedback">City is required</div>
      </div>

      <div class="form-group">
        <input type="text" class="form-control form-control-lg" placeholder="Postal Code *" name="postalCode" [(ngModel)]="userModel.postalCode"
          #postalCode="ngModel" required [ngClass]="{'is-invalid' : postalCode.errors && (postalCode.dirty || postalCode.touched)}">
        <div class="invalid-feedback">Postal Code is required</div>
      </div>

      <div class="form-group">
        <select class="form-control form-control-lg country-input" name="country" [(ngModel)]="countryName" #country="ngModel"
          required [ngClass]="{'is-invalid' : country.errors && (country.dirty || country.touched)}">
          <option value="" selected>Select a Country</option>
          <option class="option_valid" *ngFor="let item of countriesList" [value]="item.name">{{item.name}}</option>
        </select>
        <div class="invalid-feedback">Country is required</div>
      </div>

      <div class="form-group">
        <input type="text" class="form-control form-control-lg" placeholder="xyz.com" name="internalDomain" pattern="^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}"
          [(ngModel)]="userModel.internalDomain" #internalDomain="ngModel" required [ngClass]="{'is-invalid' : internalDomain.errors && (internalDomain.dirty || internalDomain.touched)}">
        <div *ngIf="internalDomain.errors && (internalDomain.dirty || internalDomain.touched)" class="validation_message">
          <div *ngIf="internalDomain.errors.required">Internal domain is required.</div>
          <div [hidden]="!internalDomain.errors.pattern">Please enter a valid internal domain</div>
        </div>
      </div>

      <div class="form-group">
        <input type="text" class="form-control form-control-lg" placeholder="xyz.com" name="customDomain" pattern="^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}"
          [(ngModel)]="userModel.customDomain" #customDomain="ngModel" required [ngClass]="{'is-invalid' : customDomain.errors && (customDomain.dirty || customDomain.touched)}">
        <div *ngIf="customDomain.errors && (customDomain.dirty || customDomain.touched)" class="validation_message">
          <div *ngIf="customDomain.errors.required">Custom domain is required.</div>
          <div [hidden]="!customDomain.errors.pattern">Please enter a valid custom domain</div>
        </div>
      </div>

      <button type="submit" [disabled]="form.invalid || loading" class="btn btn-primary btn-lg btn-block mt-4">
        <span *ngIf="!loading">Next</span>
        <span *ngIf="loading">Please wait ...</span>
      </button>
    </form>
  </div>
</div>