:host {
  display: block;
  padding-top: 120px;
}

/deep/.sv_main {
  .sv_body {
    border-top: none;
  }
}

/deep/.btn-lg {
  padding: 0.5rem 1rem !important;
  line-height: 1.5 !important;
  border-radius: 0.3rem !important;
}

/deep/ .btn-primary {
  background-color: #a0b457 !important;
  &:hover {
    background-color: #a0b457 !important;
  }
}

.survey-message {
  margin-top: 10px;
}

.survey-text {
  color: #a0b457;
}

