<div class="container-fluid">
  <h1 class="display-4 text-center">Survey</h1>
  <div class="mt-5 row justify-content-center">
    <div class="col-lg-5 col-md-6 col-sm-8 col-12">
      <div class='survey-container contentcontainer codecontainer'>
        <div id='surveyElement'></div>
      </div>
    </div>
  </div>
  <div class="text-center survey-message" *ngIf="isLoading">
    <p class="survey-text">Saving Survey...</p>
  </div>
</div>
