<ng-container *ngIf="user$ | async as user">
  <app-user-avatar [avatar]="user.avatar" (upload)="onUpload($event)"></app-user-avatar>
  <app-profile-settings-form [user]="user" [loading]="loading$ | async" (save)="onSave($event)"></app-profile-settings-form>
</ng-container>
