.notyf__message {
    width: 100%;
    padding: 0 16px;
}  
    
.notyf__icon {
    width: 0;
}

.notyf{
    width: auto;
    min-width: 320px;
}

.notyf__toast{
    padding-right: 0;
}

.notyf__wrapper{
    padding-right: 0;
}
