:host {
    display: block;
    padding-top: 120px;
}

.validation_message {
    font-size: 80%;
    color: #dc3545;
    margin-top: 0.25rem;
    text-align: left;
}

button.btn-lg,
input.form-control-lg {
    font-size: 1rem;
}

label {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    color: #202020;
}

.btn-primary {
    color: white;
}

.btn {
    border-radius: 4px;
}

/deep/ input.ng-untouched.ng-pristine.ng-invalid,
/deep/ input.ng-pristine.ng-invalid.ng-touched,
/deep/ input.ng-touched.ng-dirty.ng-valid,
/deep/ input.ng-valid.ng-dirty,
/deep/ input.ng-untouched.ng-dirty.ng-invalid,
/deep/ input.ng-pristine.ng-touched.ng-valid,
/deep/ input.ng-untouched.ng-pristine.ng-valid,
/deep/ input.ng-touched.ng-dirty.ng-invalid {
    height: calc(2.875rem + 2px);
    font-size: 1rem;
    line-height: 1.5;
}

/deep/ input.ng-pristine.ng-invalid.ng-touched,
/deep/ input.ng-touched.ng-dirty.ng-invalid {
    border-color: #dc3545;
}

/deep/ .dropdown,
.dropbtn {
    height: 100%;
}

/deep/ .dropbtn {
    height: 100% !important;
    background-color: #f3f3f4 !important;
}

/deep/ .input-group-addon {
    border: 1px solid #ced4da;
    border-width: 1px 0 1px 1px;
    border-radius: 0.25rem 0 0 0.25rem;
}

/deep/ .arrow-down {
    vertical-align: unset !important;
    margin-bottom: 2px !important;
}

.inner-page {
    display: flex;
    justify-content: center;
    margin: 0;
}

.input-group-addon {
    display: flex;
    align-items: center;
    padding: 0 17px;
}