<div class="inner-page row">
  <div class="content col-12 col-md-4">
    <h2>Getting Started</h2>
    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi, incidunt deleniti. </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, maiores aliquid? Adipisci, facere expedita!
      Voluptatibus, dolorem ad veniam asperiores id sapiente! Maxime delectus sapiente omnis temporibus incidunt
      voluptatem iste eius.</p>
    <p>Libero dicta, dignissimos laudantium illo odio voluptates repudiandae</p>
    <p>Libero dicta, dignissimos laudantium illo odio voluptates repudiandae</p>
  </div>
  <div class="login-form col-12 col-md-4">
    <form role="form" novalidate #form="ngForm" (ngSubmit)="onSubmit()">

      <div class="form-group input-group">
        <span class="input-group-addon" id="basic-addon1"> <i class="fa fa-user" tooltip="First Name"></i> </span>
        <input type="text" class="form-control form-control-lg" placeholder="First Name *" name="firstName" [(ngModel)]="userModel.firstName"
          #firstName="ngModel" required [ngClass]="{'is-invalid' : firstName.errors && (firstName.dirty || firstName.touched)}">
        <div class="invalid-feedback">First Name is required</div>
      </div>

      <div class="form-group input-group">
        <span class="input-group-addon" id="basic-addon1"> <i class="fa fa-user" tooltip="Last Name"></i> </span>
        <input type="text" class="form-control form-control-lg" placeholder="Last Name *" name="lastName" [(ngModel)]="userModel.lastName"
          #lastName="ngModel" required [ngClass]="{'is-invalid' : lastName.errors && (lastName.dirty || lastName.touched)}">
        <div class="invalid-feedback">Last Name is required</div>
      </div>

      <div class="form-group input-group">
        <span class="input-group-addon" id="basic-addon1"> <i class="fa fa-envelope" tooltip="Email Address"></i>
        </span>
        <input type="email" class="form-control form-control-lg" placeholder="Email Address *" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
          name="email" [(ngModel)]="userModel.email" #email="ngModel" required [ngClass]="{'is-invalid' : email.errors && (email.dirty || email.touched)}">
        <div *ngIf="email.errors && (email.dirty || email.touched)" class="validation_message">
          <div *ngIf="email.errors.required">Email Address is required.</div>
          <div [hidden]="!email.errors.pattern">Please enter a valid email address</div>
        </div>
      </div>
      <div class="form-group  is-invalid">
        <international-phone-number placeholder="Enter phone number *" name="phoneNumber" [(ngModel)]="userModel.phoneNumber"
          #phoneNumber="ngModel" [maxlength]="20" [defaultCountry]="'vn'" [required]="true" [allowedCountries]="preferredCountries"
          required></international-phone-number>
        <div *ngIf="phoneNumber.errors && (phoneNumber.dirty && phoneNumber.touched)" class="validation_message">
          Phone number is required.
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-lg btn-block mt-4" [disabled]="form.invalid || loading">
        <span *ngIf="!loading">Get Started</span>
        <span *ngIf="loading">Please wait ...</span>
      </button>
    </form>
  </div>
</div>
