<div class="ibox">
  <div class="ibox-content">
    <form role="form" novalidate #form="ngForm">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <h2 class="font-weight-bold">About you</h2>
          <div class="row mt-4">
            <div class="col-lg-3 col-md-3 col-sm-4 col-12">
              <label class="font-weight-bold">Avatar</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-12">
              <input type="file" name="avatar" id="file" (change)="onFileChange($event , 1)" accept=".jpg, .gif, .png" />
              <p class="font-italic pt-2">A square .jpg, .gif, or .png image 200x200 or larger</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-12">
              <label class="font-weight-bold">Cover Photo</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-12">
              <input type="file" name="coverPhoto" id="file" (change)="onFileChange($event , 2)" accept=".jpg, .gif, .png" />
              <p class="font-italic pt-2">A wide rectangular.jpg, .gif, or .png image 1400x400 or larger</p>
            </div>
          </div>
          <div class="row custom-input">
            <div class="col-lg-3 col-md-3 col-sm-4 col-12">
              <label class="font-weight-bold">First name</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-12">
              <input type="text" class="form-control" placeholder="Ramesh" name="firstName" [(ngModel)]="user.firstName" #firstName="ngModel">
            </div>
          </div>
          <div class="row mt-4 custom-input">
            <div class="col-lg-3 col-md-3 col-sm-4 col-12">
              <label class="font-weight-bold">Last name</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-12">
              <input type="text" class="form-control" placeholder="Varanasi" name="lastName" [(ngModel)]="user.lastName" #lastName="ngModel">
            </div>
          </div>
          <div class="row mt-4 custom-input">
            <div class="col-lg-3 col-md-3 col-sm-4 col-12">
              <label class="font-weight-bold">Location</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-12">
              <input type="text" class="form-control" placeholder="Central Singapore Community Development" name="location" [(ngModel)]="user.location"
                #location="ngModel">
            </div>
          </div>
          <div class="row mt-4 custom-input">
            <div class="col-lg-3 col-md-3 col-sm-4 col-12">
              <label class="font-weight-bold">Bio</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-12">
              <textarea type="text" class="form-control" name="bio" [(ngModel)]="user.bio" #bio="ngModel"></textarea>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <h2 class="font-weight-bold">Links</h2>
          <div class="row mt-4 custom-input">
            <div class="col-lg-3 col-md-3 col-sm-4 col-12">
              <label class="font-weight-bold">AngelList</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-12">
              <input type="text" class="form-control" placeholder="https://angel.co/ramesh-varanasi" name="angelList" [(ngModel)]="user.angelList"
                #angelList="ngModel">
            </div>
          </div>
          <div class="row mt-4 custom-input">
            <div class="col-lg-3 col-md-3 col-sm-4 col-12">
              <label class="font-weight-bold">Facebook</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-12">
              <input type="text" class="form-control" placeholder="https://facebook.com/ramesh-varanasi" name="facebook" [(ngModel)]="user.facebook"
                #facebook="ngModel">
            </div>
          </div>
          <div class="row mt-4 custom-input">
            <div class="col-lg-3 col-md-3 col-sm-4 col-12">
              <label class="font-weight-bold">Twitter</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-12">
              <input type="text" class="form-control" placeholder="https://twitter.com/ramesh-varanasi" name="twitter" [(ngModel)]="user.twitter"
                #twitter="ngModel">
            </div>
          </div>
          <div class="row mt-4 custom-input">
            <div class="col-lg-3 col-md-3 col-sm-4 col-12">
              <label class="font-weight-bold">LinkedIn</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-12">
              <input type="text" class="form-control" placeholder="https://www.linkedin.com/in/ramesh-varanasi" name="linkedIn" [(ngModel)]="user.linkedIn"
                #linkedIn="ngModel">
            </div>
          </div>
          <div class="row mt-4 custom-input">
            <div class="col-lg-3 col-md-3 col-sm-4 col-12">
              <label class="font-weight-bold">Website</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-12">
              <input type="text" class="form-control" placeholder="https://republic.co" name="website" [(ngModel)]="user.website"
                #website="ngModel">
            </div>
          </div>
          <h2 class="search-form font-weight-bold">Search Engines</h2>
          <div class="custom-control custom-checkbox mt-4">
            <input type="checkbox" class="custom-control-input" id="customCheck1" name="hideMyProfile" [(ngModel)]="user.hideMyProfile"
              #hideMyProfile="ngModel">
            <label class="custom-control-label" for="customCheck1">Hide my profile from search engines</label>
          </div>
        </div>
      </div>
      <div class="mt-4 text-right">
        <button type="button" class="btn btn-light" (click)="onCancel()">Cancel</button>
        <button type="submit" class="btn btn-primary ml-2" (click)="onSave()" [disabled]="!form.dirty">
          <span *ngIf="!loading">Save</span>
          <span *ngIf="loading">Please wait ...</span>
        </button>
      </div>
    </form>
  </div>
</div>
