<div class="border-bottom">
  <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" (click)="fnMinimiseMenu()">
        <i class="fa fa-bars"></i>
      </a>
      <div><a class="navbar-brand">Website Name</a></div>
    </div>
    <div class="dropdown dropdown-image" (clickOutside)="onClickedOutside($event)">
      <img alt="image" [src]="urlImage" *ngIf="urlImage" class="rounded-circle custom-image" (click)="isOpenProfile = !isOpenProfile"
        [attr.aria-expanded]="!isOpenProfile" aria-controls="collapseOne" />
      <ul id="collapseExample" [ngbCollapse]="!isOpenProfile" class="dropdown-menu animated fadeInRight m-t-xs dropdown-profile">
        <li>
          <a class="dropdown-item" (click)="isOpenProfile = !isOpenProfile" [routerLink]="['/dashboard/applications']">Applications</a>
        </li>
        <li>
          <a class="dropdown-item" (click)="isOpenProfile = !isOpenProfile" [routerLink]="['/dashboard/profile']">Profile</a>
        </li>
        <li>
          <a class="dropdown-item" (click)="isOpenProfile = !isOpenProfile" [routerLink]="['/dashboard/settings']">Settings</a>
        </li>
        <li>
          <a class="dropdown-item" (click)="isOpenProfile = !isOpenProfile" (click)="onLogout()" [routerLink]="['/signin']">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div id="wrapper" class="body-dashboard">
  <app-nav [isOpen]="isCloseMenuNav"></app-nav>
  <div id="page-wrapper" class="gray-bg">
    <div class="breadcrumb-custom" *ngIf="breadcrumb && breadcrumb.title">
      <h2 class="font-weight-light">{{breadcrumb.title}}</h2>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
    <div class="row content-wrapper" *ngIf="url === '/dashboard'">
      <div class="footer">
        <div>
          <strong>Copyright</strong> Example Company &copy; 2014-2017
        </div>
        <div class="pull-right">
          10GB of <strong>250GB</strong> Free.
        </div>
      </div>
    </div>
  </div>
</div>