a:not([href]):not([tabindex]) {
    color: #fff;
}

.dropup,
.dropright,
.dropdown,
.dropleft {
    cursor: pointer;
}

.border-bottom {
    position: relative;
    z-index: 99999;
}

.body-dashboard {
    background-color: #2F4050;
    position: relative;
    margin-top: -52px;
}

.gray-bg {
    padding-top: 97px !important;
}

.navbar-minimalize {
    border-radius: 4px;
    padding: 1px 10px;
}

.fa-bars {
    font-size: 14px;
}

.dropdown-image {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.dropdown-profile {
    min-width: 0;
}

.custom-image {
    width: 30px;
    height: 30px;
}

.navbar-header {
    display: flex;
    align-items: baseline;
}

.navbar-minimalize {
    margin-right: 15px;
}

.navbar-brand {
    font-size: 15px;
    font-weight: 500;
    color: black !important;
}

.breadcrumb-custom {
    background-color: white;
    padding: 15px 15px 11px;
    margin-left: -15px;
    margin-right: -15px;
}
