<div class="wrapper wrapper-content">
  <ng-container *ngIf="user$ | async as user">
    <app-profile-form [user]="user" [loading]="loading$ | async" (save)="onSave($event)" (cancel)='onCancel()' (upload)="onUpload($event)"></app-profile-form>
  </ng-container>
</div>
