<div class="inner-page row">
  <div class="content col-12 col-md-4">
    <h2>Welcome to IN+</h2>
    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi, incidunt deleniti. </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, maiores aliquid? Adipisci, facere expedita!
      Voluptatibus, dolorem ad veniam asperiores id sapiente! Maxime delectus sapiente omnis temporibus incidunt
      voluptatem iste eius.</p>
    <p>Libero dicta, dignissimos laudantium illo odio voluptates repudiandae</p>
    <p>Libero dicta, dignissimos laudantium illo odio voluptates repudiandae</p>
  </div>
  <div class="login-form col-12 col-md-4">
    <form class="login-form mt-5" role="form" novalidate #form="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group ">

        <div class="input-group mb-3">
          <input type="text" readonly class="form-control" value="{{loginModel.username}}">
          <div class="input-group-append">
            <button class="btn btn-light" routerLink="/signin/identifier" type="button">Change</button>
          </div>
        </div>
      </div>

      <div class="form-group mt-3">
        <input type="password" tabindex="1" name="password" class="form-control" [(ngModel)]="loginModel.password"
          placeholder="Enter your password" #password="ngModel" required [ngClass]="{'is-invalid' : password.errors && (password.dirty || password.touched)}">
        <div class="invalid-feedback">
          Password is required.
        </div>
      </div>

      <button type="submit" tabindex="2" class="btn btn-primary btn-block" [disabled]="form.invalid || (loading$ | async)">
        <span *ngIf="!(loading$ | async)">Login</span>
        <span *ngIf="(loading$ | async)">Please wait ...</span>
      </button>
      <a class="btn btn-link btn-block " [routerLink]="[ '/signin/identifier' ]">Forgot password</a>

    </form>
  </div>
</div>