<form role="form" novalidate #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="font-weight-bold">Email *</label>
    <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="userModel.email" #email="ngModel"
      required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [ngClass]="{'is-invalid' : email.errors && (email.dirty || email.touched)}">
    <div class="invalid-feedback">
      Email is required.
    </div>
  </div>
  <div class="form-group">
    <label class="font-weight-bold">Current Password *</label>
    <input type="password" class="form-control" placeholder="Current Password" name="password" [(ngModel)]="userModel.password"
      #password="ngModel" required [ngClass]="{'is-invalid' : password.errors && (password.dirty || password.touched)}">
    <div class="invalid-feedback">
      Password is required.
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-block mt-4" [disabled]="(form.invalid)">
    <span *ngIf="!(loading$ | async)">Update</span>
    <span *ngIf="loading$ | async">Please wait ...</span>
  </button>
</form>