.custom-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.text-color {
    color: #a0b457;
}

.update-payment-form {
    padding: 10px;
}

/deep/ .dropdown,
.dropbtn {
    height: 100%;
}

/deep/ .dropbtn {
    height: 100% !important;
}

/deep/ .input-group-addon {
    border: 1px solid #ced4da;
    border-width: 1px 0 1px 1px;
}

/deep/ .arrow-down {
    vertical-align: unset !important;
    margin-bottom: 2px !important;
}