<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <img src="./assets/img/paypal-logo.svg" />
    <p class="mt-4">
      Your store accepts Paypal payments with <span class="text-color">Send payment to</span>. A PayPal button
      will display during checkout.
    </p>
    <p>
      After your first sale, PayPal will email you at <span class="font-weight-bold">shopifystore2@techwitzs.com</span>
      with instructions for setting up a PayPal Merchant account and claiming your funds.
    </p>
  </li>
  <li class="list-group-item custom-btn">
    <div>Using: <span class="font-weight-bold">Send payment to </span><span *ngIf="userModel.payment">{{userModel.payment.paypal.email
        ? userModel.payment.paypal.email : userModel.payment.paypal.phoneNumber}}</span></div>
    <div>
      <button type="submit" class="btn btn-primary btn-Custom" (click)="onEdit()">Edit</button>
    </div>
  </li>
</ul>
<div class="update-payment-form" *ngIf="showEditPaypal">
  <div class="form-group mt-4">
    <label class="font-weight-bold">Email</label>
    <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="userModel.payment.paypal.email"
      #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
  </div>
  <div class="form-group">
    <label class="font-weight-bold">Phone Number</label>
    <international-phone-number placeholder="Enter phone number" name="phoneNumber" [(ngModel)]="userModel.payment.paypal.phoneNumber"
      #phoneNumber="ngModel" [maxlength]="20" [defaultCountry]="'vn'" [allowedCountries]="preferredCountries"></international-phone-number>
  </div>
  <div class="mt-4 text-right">
    <button type="submit" class="btn btn-primary" (click)="onSave()" [disabled]="!email.dirty && !phoneNumber.dirty">
      <span *ngIf="!(loading$ | async)">Save</span>
      <span *ngIf="loading$ | async">Please wait ...</span>
    </button>
  </div>
</div>
