<div class="ibox">
  <div class="ibox-content">
    <form role="form" novalidate #form="ngForm">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>SI #</th>
              <th>Application Name/th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>App - 1</td>
              <td>
                <div class="fa fa-edit modal-icon-small"></div>
              </td>
              <td>
                <div class="fa fa-trash modal-icon-small"></div>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>App - 2</td>
              <td>
                <div class="fa fa-edit modal-icon-small"></div>
              </td>
              <td>
                <div class="fa fa-trash modal-icon-small"></div>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>App - 3</td>
              <td>
                <div class="fa fa-edit modal-icon-small"></div>
              </td>
              <td>
                <div class="fa fa-trash modal-icon-small"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>