.custom-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.text-color {
    color: #a0b457;
}

.update-payment-form {
    padding: 10px;
}

.btn-Custom {
    margin: 0 5px;
    padding: 10px 20px;
}

/deep/ .arrow-down {
    vertical-align: unset !important;
    margin-bottom: 2px !important;
}
