<form role="form" novalidate #form="ngForm">
  <ng-container *ngIf="showOption">
    <div class=" row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="card">
          <div class="card-body">
            <p class="text-center">No payment options</p>
            <button type="submit" class="btn btn-primary btn-block mt-4" (click)="addNewAccount()">Add a new
              bank account
            </button>
            <button type="submit" class="btn btn-light btn-block mt-4">Or enter bank details manually
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <button type="submit" class="btn btn-primary btn-block" (click)="onPay()">Pay
            </button>
          </li>
          <li class="list-group-item">You'll be able to choose from these accounts when making an investment on
            Republic.</li>
          <li class="list-group-item">We do not store your bank login credentials.</li>
        </ul>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="showPaypal">
    <app-update-payment-page></app-update-payment-page>
  </ng-container>
  <ng-container *ngIf="showProceedPaymentPage">
    <app-proceed-payment-page></app-proceed-payment-page>
  </ng-container>
</form>