nav {
    margin-top: 60px;
}

.nav.menu>li {
    display: block;
    width: 100%;
    position: relative;
}

a {
    text-transform: none !important;
    font-size: 13px;
}

.nav.menu .fa.arrow:before {
    content: "\f104"
}

.nav.menu .active>a>.fa.arrow:before {
    content: "\f107"
}

.nav>li.active>a {
    color: #ffffff;
}


.nav>li>a {
    color: #a7b1c2;
    font-weight: 600;
    padding: 14px 20px 14px 25px;
    display: block;
}

.nav.menu>li {
    display: block;
    width: 100%;
    position: relative;
}

.nav.menu .dropdown-menu>li>a {
    padding: 3px 20px;
    display: block;
}

.nav.navbar-right>li>a {
    color: #999c9e;
}

.nav>li.active>a {
    color: #ffffff;
}

.navbar-default .nav>li>a:hover,
.navbar-default .nav>li>a:focus {
    background-color: #293846;
    color: white;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background: #fff;
}

.nav.navbar-top-links>li>a:hover,
.nav.navbar-top-links>li>a:focus {
    background-color: transparent;
}

.nav>li>a i {
    margin-right: 6px;
}

.navbar {
    border: 0;
}

.navbar-default {
    padding-top: 50px;
    background-color: #2f4050;
    border-color: #2f4050;
}

.nav>li {
    width: 100%
}

.custom-title {
    color: white;
}

/deep/.label-custom {
    color: white !important;
}

/deep/.gray-bg {
    height: auto !important;
}

.label-warning,
.badge-warning {
    background-color: #f8ac59;
    color: #FFFFFF;
    border-radius: 3px;
    font-size: 10px;
    padding: 0 5px;
}

.label-primary {
    background-color: #a0b457;
    color: #FFFFFF;
    border-radius: 3px;
    font-size: 10px;
    padding: 0 5px;
}

.label-info {
  background-color: #23c6c8;
  color: #FFFFFF;
  border-radius: 3px;
  font-size: 10px;
  padding: 0 5px;
}