:host {
    display: block;
    padding-top: 120px;
}

label {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    color: #202020;
}

.message-register {
    padding-top: 10px;
}

.login-form {
    min-width: 360px;
}

.btn-primary {
    color: white;
}

.inner-page {
    display: flex;
    justify-content: center;
    margin: 0;
}

.custom-text {
    margin-top: 16px;
}