<div class="inner-page row">
  <div class="content col-12 col-md-4">
    <h2>Welcome to IN+</h2>
    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi, incidunt deleniti. </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, maiores aliquid? Adipisci, facere expedita!
      Voluptatibus, dolorem ad veniam asperiores id sapiente! Maxime delectus sapiente omnis temporibus incidunt
      voluptatem iste eius.</p>
    <p>Libero dicta, dignissimos laudantium illo odio voluptates repudiandae</p>
    <p>Libero dicta, dignissimos laudantium illo odio voluptates repudiandae</p>
  </div>
  <div class="login-form col-12 col-md-4">
    <form class="login-form mt-5" role="form" novalidate #form="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input tabindex="1" type="text" name="username" class="form-control" [(ngModel)]="username" placeholder="Enter username"
          #userName="ngModel" required [ngClass]="{'is-invalid' : userName.errors && (userName.dirty || userName.touched)}">
        <div class="invalid-feedback">
          Username is required.
        </div>
        <div class="message-register" *ngIf="showMessage">
          <span>The username hasn't been registered. Please go to </span>
          <a [routerLink]="[ '/signup/get-started']">Signup Page </a>
          <span>to register.</span>
        </div>
      </div>

      <button type="submit" tabindex="2" class="btn btn-primary btn-block" [disabled]="form.invalid || (checking$ | async)">
        <span *ngIf="!(checking$ | async)">Continue</span>
        <span *ngIf="(checking$ | async)">Please wait ...</span>
      </button>

    </form>
    <p class="text-muted text-center m-0 mt-4"><small>Do not have an account?</small></p>
    <a class="btn btn-link btn-block " routerLink="/signup">Create an account</a>
  </div>
</div>
