<section id="contact" class="gray-section contact">
  <div class="container-fluid">
    <div class="section-header text-center">
      <span class="section-separator"></span>
      <h3 class="section-heading gray-text">Contact Us</h3>
      <p><small class="gray-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</small></p>
    </div>
    <div class="row company-footer">
      <div class="col-lg-3 col-lg-offset-3">
        <address class="gray-text">
          <strong><span class="color-text">Company name, Inc.</span></strong><br />
          795 Folsom Ave, Suite 600<br />
          San Francisco, CA 94107<br />
          <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
      </div>
      <div class="col-lg-4">
        <p class="text-color gray-text">
          Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam
          corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis
          ea,
        </p>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-lg-12 text-center">
        <a href="mailto:test@email.com" class="btn btn-primary">Send us mail</a>
        <p class="m-t-sm gray-text">
          Or follow us on social platform
        </p>
        <div class="social-links">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
    <div class="row gray-text company-footer">
      <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
        <p><strong>&copy; 2015 Company Name</strong><br /> consectetur adipisicing elit. Aut eaque, laboriosam
          veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
      </div>
    </div>
  </div>
</section>