<div class="page-wrapper home-page tab-content" data-spy="scroll" data-target="#myScrollspy" data-offset="10">
  <div id="banner" class="banner">
    <div class="banner-content">
      <h1 class="mt-0">We create meaningful <br /> interfaces that inspire.</h1>
      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
      <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
    </div>
  </div>
  <section id="features" class="features px-20 pt-40">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-3">
          <div class="each-feature">
            <h4>FULL RESPONSIVE</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi vel, explicabo quidem perspiciatis,
              dolorem, officiis praesentium accusantium tempora.</p>
            <a class="color-text" href="">Details</a>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="each-feature">
            <h4>LESS/SASS FILES</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi vel, explicabo quidem perspiciatis,
              dolorem, officiis praesentium accusantium tempora.</p>
            <a class="color-text" href="">Details</a>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="each-feature">
            <h4>6 CHARTS LIBRARY</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi vel, explicabo quidem perspiciatis,
              dolorem, officiis praesentium accusantium tempora.</p>
            <a class="color-text" href="">Details</a>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="each-feature">
            <h4>ADVANCED FORMS</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi vel, explicabo quidem perspiciatis,
              dolorem, officiis praesentium accusantium tempora.</p>
            <a class="color-text" href="">Details</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="components" class="components px-20 pt-40">
    <div class="container-fluid">
      <div class="section-header text-center">
        <span class="section-separator"></span>
        <h3 class="section-heading gray-text">Over 40+ unique view</h3>
        <h3 class="section-heading color-text">with many custom components</h3>
        <p><small class="gray-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</small></p>
      </div>
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="row">
            <div class="col-sm-12">
              <div class="each-component text-center">
                <i class="fa fa-mobile-phone color-text"></i>
                <h4>Full Responsive</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, dolorum eligendi blanditiis.</p>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="each-component text-center">
                <i class="fa fa-bar-chart color-text"></i>
                <h4>6 CHARTS LIBRARY</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, dolorum eligendi blanditiis.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <img src="/assets/images/new-layout/dashboard.png" alt="Dashboard Image" class="img-responsive">
        </div>
        <div class="col-12 col-md-4">
          <div class="row">
            <div class="col-sm-12">
              <div class="each-component text-center">
                <i class="fa fa-envelope color-text"></i>
                <h4>Mail Pages</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, dolorum eligendi blanditiis.</p>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="each-component text-center">
                <i class="fa fa-google color-text"></i>
                <h4>AngularJs version</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, dolorum eligendi blanditiis.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="discover-features" class="discover-features px-20 pt-40">
    <div class="container-fluid">
      <div class="section-header text-center">
        <span class="section-separator"></span>
        <h3 class="section-heading gray-text">Discover great features</h3>
        <p><small class="gray-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</small></p>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 left-content">
          <div>
            <p><b class="color-text">INSPINIA</b></p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, exercitationem in. Aliquam veniam,
              iusto rerum libero laudantium recusandae fugiat blanditiis, numquam dicta, sed ex doloribus? Beatae sunt
              sapiente ratione quos.</p>
            <button class="btn btn-primary">Learn More</button>
          </div>
        </div>
        <div class="col-12 col-md-6 right-image">
          <img src="/assets/images/new-layout/dashboard2.png" alt="Dashboard Image" class="img-responsive">
        </div>
      </div>
    </div>
  </section>
  <section id="team" class="team px-20 pt-40">
    <div class="container-fluid">
      <div class="section-header text-center">
        <span class="section-separator"></span>
        <h3 class="section-heading gray-text">Our team</h3>
        <p><small class="gray-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</small></p>
      </div>
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="each-member">
            <div class="profile-image"></div>
            <p><b><span class="color-text">John</span> Novak</b></p>
            <p class="gray-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere voluptatibus nam,
              enim corporis, voluptatem quidem voluptas.</p>
            <div class="social-links">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="each-member zoom">
            <div class="profile-image"></div>
            <p><b><span class="color-text">John</span> Novak</b></p>
            <p class="gray-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere voluptatibus nam,
              enim corporis, voluptatem quidem voluptas.</p>
            <div class="social-links">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="each-member">
            <div class="profile-image"></div>
            <p><b><span class="color-text">John</span> Novak</b></p>
            <p class="gray-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere voluptatibus nam,
              enim corporis, voluptatem quidem voluptas.</p>
            <div class="social-links">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="more-features" class="more-features px-20 pt-40">
    <div class="container-fluid">
      <div class="section-header text-center">
        <span class="section-separator"></span>
        <h3 class="section-heading gray-text">Even more Great Features</h3>
        <p><small class="gray-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</small></p>
      </div>
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="row">
            <div class="col-sm-12">
              <div class="each-component text-left">
                <small> <b class="color-text">INSPINIA</b></small>
                <h4 class="gray-text">Perfectly Designed</h4>
                <p class="gray-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, exercitationem
                  in. Aliquam veniam, iusto rerum libero laudantium recusandae fugiat blanditiis, numquam dicta, sed ex
                  doloribus? Beatae sunt sapiente ratione quos.</p>
                <button class="btn btn-primary">Learn More</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <img src="/assets/images/new-layout/dashboard3.png.jpg" alt="Dashboard Image" class="img-responsive">
        </div>
        <div class="col-12 col-md-4">
          <div class="row">
            <div class="col-sm-12">
              <div class="each-component text-right">
                <small> <b class="color-text">INSPINIA</b></small>
                <h4 class="gray-text">Perfectly Designed</h4>
                <p class="gray-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, exercitationem
                  in. Aliquam veniam, iusto rerum libero laudantium recusandae fugiat blanditiis, numquam dicta, sed ex
                  doloribus? Beatae sunt sapiente ratione quos.</p>
                <button class="btn btn-primary">Learn More</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="timeline gray-section px-20 pt-40">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-header text-center">
            <span class="section-separator"></span>
            <h3 class="section-heading gray-text">Our workflow</h3>
            <p><small class="gray-text">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</small></p>
          </div>
        </div>
      </div>
      <div class="row features-block">

        <div class="col-lg-12">
          <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
            <div class="vertical-timeline-block">
              <div class="vertical-timeline-icon green-bg">
                <i class="fa fa-briefcase"></i>
              </div>

              <div class="vertical-timeline-content">
                <h2>Meeting</h2>
                <p>Conference on the sales results for the previous year. Monica please examine sales trends in
                  marketing and products. Below please find the current status of the sale.
                </p>
                <a href="#" class="btn btn-xs btn-primary"> More info</a>
                <span class="vertical-date"> Today <br /> <small>Dec 24</small> </span>
              </div>
            </div>

            <div class="vertical-timeline-block">
              <div class="vertical-timeline-icon green-bg">
                <i class="fa fa-file-text"></i>
              </div>

              <div class="vertical-timeline-content">
                <h2>Decision</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since.</p>
                <a href="#" class="btn btn-xs btn-primary"> More info</a>
                <span class="vertical-date"> Tomorrow <br /> <small>Dec 26</small> </span>
              </div>
            </div>

            <div class="vertical-timeline-block">
              <div class="vertical-timeline-icon green-bg">
                <i class="fa fa-cogs"></i>
              </div>

              <div class="vertical-timeline-content">
                <h2>Implementation</h2>
                <p>Go to shop and find some products. Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's. </p>
                <a href="#" class="btn btn-xs btn-primary"> More info</a>
                <span class="vertical-date"> Monday <br /> <small>Jan 02</small> </span>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </section>
  <section id="user-testimony" class="user-testimony px-20 pt-40">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 text-center">
          <i class="fa fa-comment"></i>
          <h4>What our users say</h4>
          <p class="btn-primary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde deserunt vero cumque
            rerum maxime! Nam
            fugiat illo maxime maiores temporibus dicta sit, ratione sed beatae unde praesentium in! Doloribus, iure.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="partner-testimony" class="partner-testimony px-20 pt-40">
    <div class="container-fluid">
      <div class="section-header text-center">
        <span class="section-separator"></span>
        <h3 class="section-heading gray-text">What our partners say</h3>
        <p><small class="gray-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</small></p>
      </div>
      <div class="row">
        <div class="col-12 col-md-4">

        </div>
        <div class="col-12 col-md-4">

        </div>
        <div class="col-12 col-md-4">

        </div>
      </div>
    </div>
  </section>
  <section id="more-great-features" class="more-great-features px-20 pt-40">
    <div class="container-fluid">
      <div class="section-header text-center">
        <span class="section-separator"></span>
        <h3 class="section-heading gray-text">More and more extra Great Features</h3>
        <p><small class="gray-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</small></p>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-sm-12">
              <div class="each-great-feature text-left">
                <div class="content">
                  <small> <b class="color-text">INSPINIA</b></small>
                  <h4 class="gray-text">Perfectly Designed</h4>
                  <p class="gray-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, exercitationem
                    in. Aliquam veniam, iusto rerum libero laudantium recusandae fugiat blanditiis, numquam dicta, sed
                    ex doloribus? Beatae sunt sapiente ratione quos.</p>
                </div>
                <i class="fa fa-bar-chart"></i>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="each-great-feature text-left">
                <div class="content">
                  <small> <b class="color-text">INSPINIA</b></small>
                  <h4 class="gray-text">Perfectly Designed</h4>
                  <p class="gray-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, exercitationem
                    in. Aliquam veniam, iusto rerum libero laudantium recusandae fugiat blanditiis, numquam dicta, sed
                    ex doloribus? Beatae sunt sapiente ratione quos.</p>
                </div>
                <i class="fa fa-clock-o"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-sm-12">
              <div class="each-great-feature text-left">
                <div class="content">
                  <small> <b class="color-text">INSPINIA</b></small>
                  <h4 class="gray-text">Perfectly Designed</h4>
                  <p class="gray-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, exercitationem
                    in. Aliquam veniam, iusto rerum libero laudantium recusandae fugiat blanditiis, numquam dicta, sed
                    ex doloribus? Beatae sunt sapiente ratione quos.</p>
                </div>
                <i class="fa fa-flash"></i>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="each-great-feature text-left">
                <div class="content">
                  <small> <b class="color-text">INSPINIA</b></small>
                  <h4 class="gray-text">Perfectly Designed</h4>
                  <p class="gray-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, exercitationem
                    in. Aliquam veniam, iusto rerum libero laudantium recusandae fugiat blanditiis, numquam dicta, sed
                    ex doloribus? Beatae sunt sapiente ratione quos.</p>
                </div>
                <i class="fa fa-group"></i>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section id="pricing" class="pricing px-20 pt-40">
    <div class="container-fluid">
      <div class="section-header text-center">
        <span class="section-separator"></span>
        <h3 class="section-heading gray-text">App Pricing</h3>
        <p><small class="gray-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</small></p>
      </div>
      <div class="row">
        <div class="col-12 col-md-4">
          <ul class="pricing-plan">
            <li class="pricing-title">BASIC</li>
            <li class="pricing-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid enim
              voluptate magnam recusandae.</li>
            <li class="pricing-price">
              <span>$16</span> / month
            </li>
            <li>
              Dashboards
            </li>
            <li>
              Projects view
            </li>
            <li>
              Contacts
            </li>
            <li>
              Calendar
            </li>
            <li>
              AngularJs
            </li>
            <li>
              <a class="btn btn-primary btn-xs" href="#">Signup</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-4">
          <ul class="pricing-plan zoomin">
            <li class="pricing-title">Standard</li>
            <li class="pricing-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid enim
              voluptate magnam recusandae.</li>
            <li class="pricing-price">
              <span>$16</span> / month
            </li>
            <li>
              Dashboards
            </li>
            <li>
              Projects view
            </li>
            <li>
              Contacts
            </li>
            <li>
              Calendar
            </li>
            <li>
              AngularJs
            </li>
            <li>
              <a class="btn btn-primary btn-xs" href="#">Signup</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-4">
          <ul class="pricing-plan">
            <li class="pricing-title">Baisc</li>
            <li class="pricing-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid enim
              voluptate magnam recusandae.</li>
            <li class="pricing-price">
              <span>$16</span> / month
            </li>
            <li>
              Dashboards
            </li>
            <li>
              Projects view
            </li>
            <li>
              Contacts
            </li>
            <li>
              Calendar
            </li>
            <li>
              AngularJs
            </li>
            <li>
              <a class="btn btn-primary btn-xs" href="#">Signup</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>