.home-page {
    background-color: white;
    position: relative;
}

.btn-primary {
    color: white;
    border-radius: 4px;
    &:hover {
        background-color: #a0b457;
        border-color: #a0b457;
    }
}

.color-text {
    color: #a0b457;
}
