:host {
  display: block;
  padding-top: 120px;
}

.validation_message {
  color: #EF4836;
  text-align: left;
}

button.btn-lg,
input.form-control-lg {
  font-size: 1rem;
}

label {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  color: #202020;
}

.btn {
  border-radius: 4px;
}

.btn-primary {
  color: white;
}

.inner-page {
  display: flex;
  justify-content: center;
  margin: 0;
}
