<div class="inner-page row">
  <div class="content col-12 col-md-4">
    <h2>Verify your phone number</h2>
    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi, incidunt deleniti. </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, maiores aliquid? Adipisci, facere expedita!
      Voluptatibus, dolorem ad veniam asperiores id sapiente! Maxime delectus sapiente omnis temporibus incidunt
      voluptatem iste eius.</p>
    <p>Libero dicta, dignissimos laudantium illo odio voluptates repudiandae</p>
    <p>Libero dicta, dignissimos laudantium illo odio voluptates repudiandae</p>
  </div>
  <div class="login-form col-12 col-md-4">
    <form class="m-t" role="form" #form="ngForm">

      <div *ngIf="loadingRecaptcha" class="d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <div [ngClass]="{'d-none' : !captchaVisible}" id="recaptcha-container"></div>

      <div class="form-group" *ngIf="verifyField">
        <input type="text" class="form-control form-control-lg" name="phoneNumber" [(ngModel)]="userModel.phoneNumber"
          readonly>
      </div>

      <div class="form-group" *ngIf="verifyField">
        <input type="text" name="verifyCode" placeholder="Verification code *" class="form-control form-control-lg" required [(ngModel)]="verificationCode"
          #verifyCode="ngModel" required [ngClass]="{'is-invalid' : verifyCode.errors && (verifyCode.dirty || verifyCode.touched)}">
        <div class="invalid-feedback">Verification Code is required</div>
      </div>

      <div class="row  mt-4">
        <div class="col" *ngIf="resetBtn">
          <button type="button" class="btn btn-light btn-lg btn-block" (click)="resetCaptcha()">Resend</button>
        </div>
        <div class="col" *ngIf="verifyField">
          <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="form.invalid || loading" (click)="verifyCode()">
            <span *ngIf="!loading">Verify</span>
            <span *ngIf="loading">Please wait ...</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>