<div class="inner-page row">
  <div class="content col-12 col-md-4">
    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi, incidunt deleniti. </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, maiores aliquid? Adipisci, facere expedita!
      Voluptatibus, dolorem ad veniam asperiores id sapiente! Maxime delectus sapiente omnis temporibus incidunt
      voluptatem iste eius.</p>
    <p>Libero dicta, dignissimos laudantium illo odio voluptates repudiandae</p>
    <p>Libero dicta, dignissimos laudantium illo odio voluptates repudiandae</p>
  </div>
  <div class="login-form col-12 col-md-4">
    <form role="form" novalidate #form="ngForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <input type="text" class="form-control form-control-lg" placeholder="Userame *" name="username"
          [(ngModel)]="userModel.username" #username="ngModel" required [ngClass]="{'is-invalid' : username.errors && (username.dirty || username.touched)}">
        <div class="invalid-feedback">Username is required</div>
      </div>

      <div class="form-group">
        <input type="password" class="form-control form-control-lg" placeholder="Password *" name="password" [(ngModel)]="userModel.password"
          #password="ngModel" required [ngClass]="{'is-invalid' : password.errors && (password.dirty || password.touched)}">
        <div class="invalid-feedback">Password is required</div>
      </div>

      <button type="submit" [disabled]="form.invalid || loading" class="btn btn-primary btn-lg btn-block mt-4">
        <span *ngIf="!loading">Next</span>
        <span *ngIf="loading">Please wait ...</span>
      </button>
    </form>
  </div>
</div>
